body {
  width: 100%;
  height: 100%;
  /* position: fixed; */
  background-color: #282c34;
}

.texto {
  /* overflow: hidden; */
  font-family: "Fira Code", monospace;
  font-size: 16px;
  color: #ecf0f1;
}

h1 { 
	position: relative; 
	float: left;
	background: tomato;
	color: #fff;
	font-size: 2.5em;
}

h1 span {
    position:absolute;
    right:0;
    width:0;
    background: tomato;
    border-left: 1px solid #000;
    animation: escribir 5s steps(30) infinite alternate;
}

@keyframes escribir {
    from { width: 100% }
    to { width:0 }
}
